.appshell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.appshell-content {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.appshell-content::-webkit-scrollbar {
  display: none;
}
