.appshell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appshell-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.appshell-content::-webkit-scrollbar {
  display: none;
}
